/* Global styles */
* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: relative;
	min-height: 100vh;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 30px auto;
}

h3 {
	font-weight: 600;
}

h4 {
	font-weight: 400;
	font-size: 14px;
}
